.inputfile, .inputfilecv {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label , .inputfilecv + label{
    width: 100%;
    /* 20px */
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    /*padding: 0.625rem 1.25rem;*/
    /* 10px 20px */
}

.no-js .inputfile + label , .no-js .inputfilecv + label{
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfilecv:focus + label,
.inputfilecv.has-focus + label{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label *, .inputfilecv + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

/* style 1 */

.inputfile-1 + label {
    color: #555;
    background-color: #fff;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    /*background-color: #722040;*/
}