/*margins*/
.margin-5 { margin:5px;}
.margin-10 { margin:10px;}
.margin-15 { margin:15px;}
.margin-20 { margin:20px;}
.margin-left-5 { margin-left:5px;}
.margin-left-10 { margin-left:10px;}
.margin-left-15 { margin-left:15px;}
.margin-left-20 { margin-left:20px;}
.margin-right-5, .mr5 { margin-right:5px;}
.margin-right-10, .mr10 { margin-right:10px;}
.margin-right-15 { margin-right:15px;}
.margin-right-20 { margin-right:20px;}
.margin-top-5 { margin-top:5px;}
.margin-top-10 { margin-top:10px;}
.mt6 { margin-top:6px;}
.mt5 { margin-top:5px;}
.mt12 { margin-top:12px;}
.margin-top-15 { margin-top:15px;}
.margin-top-20 { margin-top:20px;}
.margin-bottom-5 { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;}
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
/*paddings*/
.padding-5 { padding:5px;}
.padding-10 { padding:10px;}
.p12 { padding:12px;}
.padding-15 { padding:15px;}
.padding-20 { padding:20px;}
.padding-left-5 { padding-left:5px;}
.padding-left-10 { padding-left:10px;}
.padding-left-15 { padding-left:15px;}
.padding-left-20 { padding-left:20px;}
.padding-right-5 { padding-right:5px;}
.padding-right-10 { padding-left:10px;}
.padding-right-15 { padding-left:15px;}
.padding-right-20 { padding-left:20px;}
.padding-top-5 { padding-top:5px;}
.padding-top-10 { padding-top:10px;}
.padding-top-15 { padding-top:15px;}
.padding-top-20 { padding-top:20px;}
.padding-bottom-5 { padding-bottom:5px;}
.padding-bottom-10 { padding-bottom:10px;}
.padding-bottom-15 { padding-bottom:15px;}
.padding-bottom-20 { padding-bottom:20px;}

/*display*/
.display-block { display:block;}
.display-inline-block { display:inline-block;}
.display-table-cell {display:table-cell; vertical-align:middle;}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}