@charset "utf-8";
@import "reset.min.css";

@font-face {font-family: RL;src: url(fonts/roboto/Roboto-Light.ttf);}
@font-face {font-family: RT;src: url(fonts/roboto/Roboto-Thin.ttf);}
@font-face {font-family: RM;src: url(fonts/roboto/Roboto-Medium.ttf);}
@font-face {font-family: RR;src: url(fonts/roboto/Roboto-Regular.ttf);}

body { font-family:RR, Helvetica, sans-serif; font-size:12px; color:#575757; line-height:16px; width:100%;background:#363636 url(../images/ui/bg/maintenance.jpg) no-repeat bottom center fixed;}
	section { width:100%; height:250px;position:fixed; bottom:20px;}
		.body { width:100%; margin:0 auto; text-align:center;}
			h1 { font-family:RL; color:#FFF; font-size:25px; text-transform:uppercase; margin:15px 0px; letter-spacing:-2px; letter-spacing:1px;}
			h2 { color:#ee8c08; font-size:20px;text-transform:uppercase; margin:0px 0px 10px;letter-spacing:-1px;}
			h3 { color:#FFF; font-size:16px;text-transform:uppercase; margin:0px 0px 15px; line-height:20px;}

