@import "reset.min.css";
@import "normalize.css";
@import "layout-helpers.css";
@import "glyphicons.css";
@import "fontawesome.css";
@import "osfont.css";
@import "nanoscroller.css";
@import "tooltipster.css";
@import "datatables.css";
@import "icheck.css";
@import "chosen.css";
@import "jquery-ui.min.css";

@font-face {font-family: RL;src: url(fonts/roboto/Roboto-Light.ttf);}
@font-face {font-family: RT;src: url(fonts/roboto/Roboto-Thin.ttf);}
@font-face {font-family: RM;src: url(fonts/roboto/Roboto-Medium.ttf);}
@font-face {font-family: RR;src: url(fonts/roboto/Roboto-Regular.ttf);}

a, a:active, a:focus { color:rgba(49, 53, 52, 0.6);}
a:hover {color:#BD9C7D;}
h1 { margin:0px;padding:0px; font-size:20px; color:#906C4A;}
small { color:#777; font-size:12px;font-family: RL; display:inline-block;}
.nopadding { padding:0px!important;}
.nopaddingleft { padding-left:0px!important;}
.nopaddingright { padding-right:0px!important;}
.center { text-align:center;}
.pointer { cursor:pointer;}

body {background: #e5e6e6;color: #313534; font-size:12px; font-family:RR, Arial, Helvetica, sans-serif;padding-top:64px; width:100%; min-width:1366px;}
@media (max-width: 700px) {body{padding-top: 34px;}}
body.page-login {display:flex;align-items:center; background:url(../images/tiger.jpg) no-repeat center center;}
body.busy, body.busy *{cursor: wait !important;}
/*header*/
header#header { position:fixed; left:0; top:0px; width:100%;height:64px; z-index:1005; background:#fff;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);}
	.headerbar { position:relative;}	
		.menu-trigger {border-right:1px solid rgba(12, 12, 12, 0.07); width:64px; cursor:pointer;}
		.menu-trigger:hover span { color:#BD9C7D;}
			.menu-trigger span { display:block; font-size:30px;line-height:64px; text-align:center;color: rgba(49, 53, 52, 0.6);}
		@media (max-width: 700px) {
			.menu-trigger {width:34px;}
			.menu-trigger span {font-size:18px;line-height:34px;}
		}
		.headerbar-left {font-family:RL; font-size:25px;padding-left:10px;}
			.headerbar-left img, .headerbar-left span {vertical-align:middle;display:inline-block; line-height:64px;}
			.headerbar-left span { padding-left:10px;}
		@media (max-width: 700px) {
		header#header {height:34px;}
			.headerbar-left {font-size:15px;}
				.headerbar-left img { width:30%; height:auto;}
				.headerbar-left img, .headerbar-left span {line-height:34px;}
		}
		@media (max-width: 450px) {.headerbar-left {font-size:13px; width:40%;}}
		@media (max-width: 350px) {
			.headerbar-left {font-size:12px; width:40%;}
			.headerbar-left img { width:20%; height:auto;}
		}
		
		.TopSearch { width:30%; height:64px;line-height:64px; position:absolute; top:0px; left:35%;}
		@media (max-width: 1000px) {.TopSearch { width:20%; left:40%;}}
		@media (max-width: 850px) {.TopSearch { left:50%;} .SearchSelector ul li{ font-size:12px;}}
		@media (max-width: 700px) {.TopSearch { visibility:hidden; opacity:0;}}
			.TopSearch input.frm_TopSearch, .inner_search input.frm_TopSearch {border-radius: 15px;border: 1px solid rgba(12, 12, 12, 0.2); height:30px; padding-left:30px; font-family:RL; font-weight:normal; color:#666; width:100%; outline: none;}
			.inner_search { position:relative;}
				.inner_search:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
			.inner_search form{ position:relative; width:40%;left:30%;}
			@media (max-width: 850px) { .inner_search form{ width:100%; left:0%;}}
				.inner_search form span.glyphicon {position:absolute; top:10px; left:10px; color:rgba(12, 12, 12, 0.2);}
			input.frm_TopSearch::placeholder { color:rgba(12, 12, 12, 0.7);}
			input.frm_TopSearch:focus {border: 1px solid rgba(12, 12, 12, 0.5);}
			.TopSearch span.glyphicon-search { position:absolute; top:26px; left:10px; color:rgba(12, 12, 12, 0.2);}
				.SearchSelector, .inner_search .SearchSelector { width:100%; background-color:#069; position:absolute; top:47px; border:1px solid #d5dce0; background-color:#FFF; display:none;}
				.inner_search .SearchSelector { width:40%; left:30%; z-index:200; top:42px;}
				@media (max-width: 850px) { .inner_search .SearchSelector { width:100%; left:0%; }}
					.SearchSelector ul li { line-height:40px; border-bottom:1px solid #d5dce0; cursor:pointer; font-size:20px; font-family:RT;}
					.SearchSelector ul li:last-child { border-bottom:none;}
					.SearchSelector ul li:hover { background-color:#2196f3; color:#FFF;}
					.SearchSelector ul li:hover i, .SearchSelector ul li:hover span { color:#FFF;}
					.SearchSelector ul li i, .SearchSelector ul li span { display:inline-block; padding:0px 10px; width:50px; text-align:center; color:#b7bfc6;}
					@media (max-width: 850px) {.SearchSelector ul li{ font-size:14px;} .SearchSelector ul li i, .SearchSelector ul li span { font-size:20px; position:relative; top:4px;}}
		ul.profile li { display:inline-block; line-height:64px;padding:0px 12px; height:64px;}
			ul.profile li.username { font-size:34px; border-right:1px solid rgba(12, 12, 12, 0.07);color: rgba(49, 53, 52, 0.6);}
				ul.profile li.username i { vertical-align:middle; display:inline-block;}
				ul.profile li.username span.name { font-size:14px; display:inline-block; vertical-align:middle;}
					ul.profile li.username span.name span { text-transform:uppercase; font-weight:bold;}
			ul.profile li.logout a {font-size:30px;}
				ul.profile li.logout a span { position:relative; top:5px;}
				ul.profile li.logout a:hover, ul.profile li.username a:hover { color:#BD9C7D;}
		@media (max-width: 700px) {
		ul.profile li {line-height:34px;height:34px;}
			ul.profile li.username, ul.profile li.logout a { font-size:18px;}
			ul.profile li.username span.name { font-size:12px;}
			ul.profile li.logout a span {top:3px;}
		}
/*--------------- LOGIN -----------------*/	
.login { width:400px;margin:0px auto; background-color: #fff;padding: 20px;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); vertical-align:middle;}
	.login-title { text-align:center; color:#666; padding-bottom:20px;}
	.login fieldset{ position:relative; margin:0px;padding: 0.35em 0.75em 0.625em;}
		.login fieldset .frm_text { width:100%;}
	.login span.glyphicon, .login i.os-icon {position: absolute;top: 4px;right:12px;z-index: 2;display: block;width: 34px;height: 34px;line-height: 34px;text-align: center;pointer-events: none; color:#777; font-size:15px;}
/*------------------------MENU------------------------*/
.shownav{ transform:translateX(260px); -webkit-transform:translateX(260px);}
#menuWrapper, #base{ backface-visibility: hidden;transition: all 0.3s ease 0s;overflow-x: hidden;}
#menuWrapper { background-color:#666;display:block;height: 100%;overflow-x: hidden;position: fixed;left:-260px;top: 64px;width: 260px;z-index: 16;font-family:RR;}
@media (max-width: 700px) {#menuWrapper{top: 34px;}}
ul.main-menu, ul.main-menu > li > ul, ul.main-menu > li > ul > li.expanded > ul { display:block; margin:0px; padding:0px; background-color:#FFF;}
	ul.main-menu li a { display:block;width:100%;padding:0px 15px;text-align:left;font-size: 15px;font-weight: 700;text-transform: uppercase;line-height:40px; text-transform:uppercase;  color: #906C4A;transition: background 0.2s ease 0s; text-shadow:0px 1px 0px #FFF;border-bottom:1px solid #CCC; cursor: pointer;}
	ul.main-menu li a.main {background:#fff url(../images/ui/icons/bg/menu-expanded-left.png) no-repeat right center;}
	ul.main-menu li a.main:hover, ul.main-menu li a.main.active {background:rgba(144, 108, 74, 0.3) url(../images/ui/icons/bg/menu-expanded-bottom.png) no-repeat right center;color:#906C4A; text-shadow:0px 1px 0px #fff;}
	ul.main-menu li a:hover, ul.main-menu li a.active { background-image:none;background-color:rgba(144, 108, 74, 0.3);text-shadow:0px 1px 0px #fff;color:#333;}
	ul.main-menu li ul { display:none;}
		ul.main-menu li a span.glyphicon,ul.main-menu li a i { display:inline-block; padding-right:10px;}
			ul.main-menu ul li a { display:block; line-height:30px; text-transform:none; font-weight:500; font-size:13px; border-bottom:1px solid #CCC; background-color:#fff; width:auto; padding:0px 20px; color:#333;}
/*-------------------- END MENU ----------------------*/
/*----------- END OF LOGIN --------------*/
	#base { overflow:hidden; width:100%; min-height:800px; min-width:1440px;}
	@media (max-width: 700px) {min-height:100%;}
		
		#contentWrap {position: relative;width: 100%;}
			#contentWrap:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

			section.block {position: relative;margin: 24px;position:relative;background-color: #ffffff;color: #313534;border-radius: 2px;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); padding:12px;height: 1%; outline:none;}
				section.block:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
			section.title h1{ display:inline-block; margin-right:10px;}
				section.title h1 small { font-size:14px;}
				section.title h1 span.glyphicon { margin-right:10px;}
					section.title .btn-box .btn { margin-left:12px;}
			
			.row { margin:12px;}
			.row.nextLine { clear:both;}
			/*.row:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}*/
				.row .col { min-height:1px; padding:0px 12px;float:left;}
				.row .col-2 { width:16.66666%;}
				.row .col-3 { width:25%;} @media(max-width: 900px) {.row .col-3{ width:100%;} }
				.row .col-4 { width:33.33333%;} @media(max-width: 1200px) {.row .col-4 {width:50%;}} @media(max-width: 700px) {.row .col-4 {width:100%;}}
                .row .col-5 { width:41.66666%;} @media(max-width: 1100px) {.row .col-5{ width:100%;} }
				.row .col-6 { width:50%;} @media(max-width: 1100px) {.row .col-6{ width:100%;} }
				.row .col-8 { width:66.66666%;}
				.row .col-9 { width:75%;} @media(max-width: 1100px) {.row .col-9{ width:100%;} }
                .row .col-10 { width:83.33333%;} @media(max-width: 1100px) {.row .col-10{ width:100%;} }
				.row .col-12 { width:100%;}
					.row .col .block {position: relative;margin-bottom: 24px;background-color: #ffffff;color: #313534;border-radius: 2px;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); padding:12px;height: 1%; outline:none;}
						.row .col .block.nopadding { padding:0px;}
						.row .col .block.nomargin { margin:0px;}
						.row .col .block:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
						
						.row .col .block .block-head { position:relative; line-height:40px; min-height:40px; padding:0px 12px; vertical-align:middle;}
							.row .col .block .block-head.with-border { border-bottom:1px solid rgba(0, 0, 0, 0.1);}
							.row .col .block .block-head.with-top-border {border-top:1px solid rgba(0, 0, 0, 0.1);}
							.row .col .block .block-head header{display: inline-block;vertical-align: middle;font-size: 20px;} 
								.row .col .block .block-head header i, .row .col .block .block-head header span { margin-right:10px;}
							.row .col .block .block-head .block-head-btns {height:40px; padding-top:8px;}
								.row .col .block .block-head .block-head-btns .btn{ margin-left:10px;}
							.row .col .block .block-head div.block-head-msg {line-height:20px; background-color:#1C4CC3; color:#FFF; padding:0px 10px; border-radius:3px; margin-top:10px;}
						.row .col .block .block-body { padding:12px;}
							.row .col .block .block-body .nano > .nano-pane > .nano-slider { background:#906C4A;}
				
				.col-in {min-height:1px; padding:0px 12px;float:left;}
					.col-in-3 { width:25%;}
					
					.col-in .in-block {position: relative;background-color: #ffffff;color: #313534; padding:6px;height: 1%; outline:none;}
/*-------------- NOTIFICATIONS ----------*/
.notification {position:fixed; top:10px; z-index:9000; display:none; left:50%;}
    .message {padding:5px 12px; box-sizing:border-box; background-color:#090; width:100%; margin:0px auto; position:relative; font-weight:bold; font-size:14px; line-height:25px;text-align:left;font-family:RT; color:#fff; line-height:30px;}
        .message.error {border-bottom:2px solid #c23321;background:#dd4b39;}
        .message.success {border-bottom:2px solid #486e34;background:#7cbd5a;}
        .message.warning {border-bottom:2px solid #cf7e06;background:#ff9800;}
		.message.info {border-bottom:2px solid #1C4CC3;background:#2196f3;}
		.message span, .message i { display:inline-block;padding-right:12px;}
        .message span.message_close {cursor:pointer; display:inline-block; width:30px; height:30px;padding:0px; text-align:center; color:rgba(0, 0, 0, 0.3); position:absolute; right:5px; top:12px;}
			.message span.message_close:hover {color:rgba(0, 0, 0, 0.6);}
@media (max-width: 700px){.notification { top:40px; width:100%!important; left:0px; margin-left:0px!important;}}
/*----------- END NOTIFICATIONS ---------*/
/*---------- START OF LIGHTVIEW ---------*/
.labf3-shadowbox {display:none;position:fixed;z-index:10000; height:100%; width:100%; margin:0px; padding:0px; left:0px; top:0px;}
    .labf3-shadowbox-overlay, .labf3-lightview-overlay {background-color:#2C2A2C;opacity:1;position:absolute;height:100%;width:100%;left:0px;top:0px;margin:0px;padding:0px;}
    .labf3-shadowbox-container {position:fixed;background:transparent url(../images/ui/icons/loader.gif) no-repeat center center;}
/*---------- Modal v2 -------------------*/
body.modal-open {overflow:hidden;}
.modal-v2 {display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 6000;overflow: hidden;overflow-y:scroll;-webkit-overflow-scrolling: touch;outline: 0;background: rgba(0, 0, 0, 0.8);}
.modal-v2.nobg { background-color:transparent!important;}	
	.modal-v2 .modal-dialog {position:relative;width:auto;margin: 62px auto;}
		.modal-v2 .modal-dialog.modal-90 {max-width:90%;min-width:530px;}
		.modal-v2 .modal-dialog.modal-80 {max-width:80%;min-width:530px;} /*default in js*/
		.modal-v2 .modal-dialog.modal-70 { max-width:70%;min-width:530px;}
		.modal-v2 .modal-dialog.modal-60 { max-width:60%;min-width:530px;}
		.modal-v2 .modal-dialog.modal-50 { max-width:50%;min-width:530px;}
		.modal-v2 .modal-dialog.modal-40 { max-width:40%;min-width:340px;}
			.modal-v2 .modal-content {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;    background-color: #fff;background-clip: padding-box;border: 0px solid rgba(0, 0, 0, 0.2);border-radius: .3rem;outline: 0;}
				.modal-v2 .modal-content button.close {position: absolute;top: 15px;right: 20px;float: none;z-index: 999;color: #111;opacity: 1;padding: 0;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;text-shadow: 0 1px 0 #fff;font-size: 14px;font-weight: 500;line-height: 1;}
				.modal-v2 .onboarding-modal .onboarding-side-by-side {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align: center;align-items: center;}
				.modal-v2 .onboarding-modal .onboarding-side-by-side .onboarding-media {-webkit-box-flex: 300px;-ms-flex: 300px 0 0px;flex:100px 0 0;padding: 40px 0px;padding-bottom: 60px; text-align:center;}
				.modal-v2 .onboarding-modal .onboarding-side-by-side .onboarding-media i, .modal-v2 .onboarding-modal .onboarding-side-by-side .onboarding-media{font-size:60px;color:#BD9C7D;}
				.modal-v2 .onboarding-modal .onboarding-content {}
				.modal-v2 .onboarding-modal .onboarding-side-by-side .onboarding-content.with-gradient {padding:30px;background-image: url(../images/ui/bg/onboarding-gradient-ver.png);background-size:contain;background-position: center left;background-repeat: no-repeat; width:90%;}
				.modal-v2 h4.onboarding-title {color:#BD9C7D;margin-bottom:20px;font-size:24px; font-family:RL; font-weight:normal; text-align:center;}
				.modal-v2 .onboarding-modal .onboarding-content .onboarding-text {color: rgba(69, 76, 96, 0.49);font-weight:300;font-size:15px;font-family:RL; font-weight:normal;margin-bottom:30px;padding-left:20px;padding-right:20px; text-align:center;}
				.modal-v2 fieldset:last-child { margin-bottom:0px;}
				.modal-v2 .modal-footer { display:-webkit-flex;display:flex; flex-direction: row; -webkit-flex-direction: row;}
					.modal-v2 .modal-footer *:first-child { margin-left:0px;}
					.modal-v2 .modal-footer * {/*-webkit-flex:1;-ms-flex:1;flex:1;*/}
/*------------ END OF MODAL -------------*/
/*---------------- DIALOG ----------------*/
.dialog {display: none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 6000;overflow: hidden;-webkit-overflow-scrolling: touch;outline: 0;background: rgba(0, 0, 0, 0.8); }
	.dialog-main { width:400px; margin:30px auto;}
		.dialog-content {position: relative;-webkit-background-clip: padding-box;background-clip: padding-box;outline: 0;border-radius: 2px;-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);}
			.dialog-header {padding: 12px;border-bottom: 1px solid #e5e5e5; background:#BD9C7D;border-top-left-radius:2px; border-top-right-radius:2px;}
				h4.dialog-title { font-size:16px; color:#fff;  font-family:RL; line-height:19px; }
				.dialog-header button.close{float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2; margin-top:-2px; border:none; padding:0px; cursor:pointer; background-color:transparent;}
				.dialog-header button.close:hover {filter: alpha(opacity=50);opacity:.5;}
			.dialog-body { position:relative; border-bottom: 1px solid #e5e5e5;padding:12px;background-color: #fff;}
			.dialog-footer { padding:6px;background-color: #fff;border-bottom-left-radius:2px; border-bottom-right-radius:2px;}
/*------------ END OF DIALOG -------------*/
/*----------------- start of forms ---------*/
fieldset { padding:0px; margin:20px 0px;}
fieldset label { display:inline-block; float:left; line-height:36px; width:30%; padding-right:20px; text-align:right;}
fieldset label span.glyphicon-info-sign { padding-left:5px; color:#2196f3; cursor:pointer;}
@media (max-width: 1370px){
	fieldset label { display:block; float:none; width:100%; text-align:left;}
	fieldset.single-row label, fieldset.range label { display:inline-block; width:auto; text-align:left; float:left;}
}
input.frm_text { float:none;}
fieldset input.frm_text, fieldset input.frm_img { float:left; width:70%; min-width:25%;border:1px solid #E1E1E1; height:34px; padding:6px 12px; /*line-height:34px;bug in IE*/font-weight:bold; color:#555;letter-spacing:1px;}

.frm_text.caps { text-transform:uppercase;}
.frm_text.must, .frm_img.must, .frm_select.must, .frm_textarea.must { border-left: 5px solid #BD9C7D; border-color:#BD9C7D;}
.frm_text.must.error, .frm_img.must.error, .frm_select.must.error, .frm_textarea.must.error {border-left: 5px solid #dd4b39; border-color: #dd4b39;}
.frm_text.error, .frm_img.error, .frm_select.error {border-color: #dd4b39;}
.frm_text.must.ok, .frm_img.must.ok, .frm_select.must.ok, .frm_textarea.must.ok {border-left: 5px solid #008d4c; border-color: #008d4c;}
.frm_text.ok, .frm_img.ok, .frm_select.ok, .frm_textarea.ok {border-color: #008d4c;}
.frm_text.xsmall { width:100px;}
.frm_text.xxsmall { width:60px;}
.frm_text.xlarge { width: 200px;}
fieldset .frm_textarea {float:left; width:70%; min-width:25%;border:1px solid #E1E1E1; height:100px; padding:12px;font-weight:bold; color:#555;letter-spacing:1px; resize:vertical;}

fieldset .chosen-container { width:70%!important; text-align:left;}
.chosen-container-single .chosen-single { border-radius:0px;}
.chosen-container-single .chosen-single.must { border-left: 5px solid #BD9C7D; border-color:#BD9C7D;}
.chosen-container-single .chosen-single.error {border-color: #dd4b39;}
.chosen-container-single .chosen-single.must.error {border-left: 5px solid #dd4b39; border-color: #dd4b39;}
.chosen-container-single .chosen-single.ok {border-color: #008d4c;}
.chosen-container-active.chosen-with-drop .chosen-single {-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;border-color:#BD9C7D;}

.chosen-container-active .chosen-choices { box-shadow:none;}
.chosen-container-multi .chosen-choices { background-image:none; border-color:#E1E1E1; min-height:34px;padding: 0px 12px;}
.chosen-container-multi .chosen-choices li.search-field { line-height:34px;}

fieldset input.frm_text{-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}
fieldset input.frm_text::-ms-expand {background-color: transparent;border:0;}
fieldset input.frm_text::-webkit-input-placeholder {color:#636c72;opacity:1;}
fieldset input.frm_text:-ms-input-placeholder {color:#636c72;opacity:1;}
fieldset input.frm_text::placeholder {color:#636c72;opacity:.5;}
fieldset input.frm_text:disabled, fieldset input.frm_text[readonly] { background-color:#eceeef;opacity: 1;}
fieldset input.frm_text:disabled {cursor:not-allowed;}
.chosen-container.chosen-container-single.chosen-disabled, .chosen-container.chosen-container-single.chosen-disabled a.chosen-single, .chosen-container.chosen-container-single.chosen-disabled a.chosen-single span {cursor:not-allowed!important;background-color:#ECEEEF!important;}

.modal-v2 legend { font-size:14px; padding-left:40px; color:#906C4A;}

.frm_horizontal fieldset { float:left; margin:0px 20px 20px 0px;}
.frm_horizontal fieldset input { width:150px;}
.frm_horizontal fieldset label { width: auto; padding-right:10px; text-align:left;}
.frm_horizontal fieldset .icheckbox_square-blue { top:6px;}
.frm_horizontal fieldset.submit { float:right;}
.frm_horizontal fieldset .chosen-container { width:200px!important;}
.frm_horizontal fieldset .chosen-container-single .chosen-single { height:34px;}
span.interval { display:block; float:left; line-height:36px; width:10px; text-align:center;}
.radio_wrap { float:left;}
	.radio_wrap .radio-item { float:left;}
	.radio_wrap .radio-item label { float:none; padding-left:5px; cursor:pointer;}
	.radio_wrap .radio-item .iradio_square-blue { top:-2px;}

#base.AddCandidat fieldset.largemultiselect label { display:block; width:100%; padding-right:0px;}
fieldset .ms-container.must .ms-list{border-left:5px solid #BD9C7D;}
fieldset .ms-container.must .ms-list.ms-focus{border-color:#BD9C7D;}
fieldset .ms-container.must.ok .ms-list, fieldset .ms-container.must.ok .ms-list.ms-focus, fieldset .ms-container.ok .ms-list, fieldset .ms-container.ok .ms-list.ms-focus, fieldset .ms-container.ok .ms-list, fieldset .ms-container.ok .ms-list.ms-focus{border-color:#009900;}
fieldset .ms-container.must.error .ms-list, fieldset .ms-container.must.error .ms-list.ms-focus{border-color:#dd4b39;}
.largemultiselect .frm_select_multi_wrapper { clear:both;width:100%;}
.largemultiselect .ms-container{ width:100%;}
.largemultiselect .ms-container .ms-selectable, .largemultiselect .ms-container .ms-selection{ width:46%;}

/*buttons*/
.btn { display:inline-block; font-family:RL; font-weight:bold; text-align:center; vertical-align:middle; cursor:pointer;border:1px solid #999; white-space:nowrap; padding:7px 15px; border-radius:2px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; outline:none;}
a.btn { line-height:25px;}
.btn-icon { padding:3px;}
a.btn.btn-icon { padding:0px 3px;}
.btn i, .btn span{ font-size:14px;}
.btn i.fa-user-plus, .btn i.fa-file-pdf, .btn i.fa-users, .btn i.fa-globe { font-size:16px;}
.btn-primary { color:#FFF; background-color:#906C4A; border-color:#906C4A;}
.btn-primary:hover { background-color:#716558; border-color:#716558;}
.btn-danger {color:#FFF; background-color:#dd4b39; border-color:#dd4b39;}
	.btn-danger:hover {background-color:#c23321; border-color:#c23321;}
.btn-info {color:#FFF; background-color:#2196f3; border-color:#2196f3;}
	.btn-info:hover {background-color:#1C4CC3; border-color:#1C4CC3;}
.btn-warning {color:#FFF; background-color:#ff9800; border-color:#ff9800;}
	.btn-warning:hover {background-color:#cf7e06; border-color:#cf7e06;}
.btn-success {color:#FFF; background-color:#7cbd5a; border-color:#7cbd5a;}
	.btn-success:hover {background-color:#486e34; border-color:#486e34;}
.btn-s { padding:2px 5px; font-size:11px; font-family:RT; letter-spacing:1px;}
	.btn-s i { font-size:10px;}
/*---------------- end of forms ------------*/
/*--------------  Start of Table -----------*/
table.table-list { border-collapse:collapse; /*border-top:1px solid rgba(0, 0, 0, 0.1);*/ border-left:1px solid rgba(0, 0, 0, 0.1); width:100%; margin-bottom:20px;}
table.table-list thead th, table.table-list thead td {padding: 6px 12px;border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-right: 1px solid rgba(0, 0, 0, 0.1);}
table.table-list thead th, table.table-list tfoot th {font-weight: bold;font-family: RR;line-height: 25px;border-top: 1px solid rgba(0, 0, 0, 0.1);color: #906C4A;}
table.table-list tbody tr:nth-child(odd){background-color: #f9f9f9;}
table.table-list tbody tr:nth-child(even){background-color: #ffffff;}
table.table-list tbody tr.inactive, table.table-list tbody tr.inactive:hover {background-color: rgba(230, 182, 182, 0.57); cursor:not-allowed;}
table.table-list tbody tr:hover {background-color: rgba(144, 108, 74, 0.3);}
table.table-list.no-hover tbody tr:hover {background-color: transparent;}
table.table-list tbody td {padding: 6px 12px;line-height: 25px;height: 25px;vertical-align: middle;border-right: 1px solid rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(0, 0, 0, 0.1);box-sizing: content-box;}
span.table-active { color:#7cbd5a;}
span.table-inactive {color:#dd4b39;}

table.table-list.compact tbody td {padding: 3px 12px;}
table.table-list.inside-nano {margin-bottom:0px;}
table.table-list.no-head tr:first-child{border-top: 1px solid rgba(0, 0, 0, 0.1);}
table.table-list.fixed-actions td.actions_button{ width:15%; display:table-cell;}
#base.TypeContenu table.table-list.fixed-actions td.actions_button { width:9%;}

td span.status, span.legende span.status, .sms span.status { text-align:center; padding:0px 5px; background-color:#906C4A; border-radius:3px; color:#FFF;}
td span.status.in, td span.status.active, td span.status.en_cours, span.legende span.status.en_cours, .sms span.status.in { background-color:#7cbd5a;}
td span.status.out, td span.status.inactive, td span.status.error, td span.status.stopped, span.legende span.status.stopped, .sms span.status.out { background-color:#dd4b39;}
td span.status.buplus, td span.status.info, td span.status.placement, span.legende span.status.placement { background-color:#2196f3;}
td span.status.buminus, td span.status.warning, td span.status.cloture, span.legende span.cloture { background-color:#ff9800;}

td span.status.arc {background-color:#db86db;}
td span.status.arca {background-color:#eb909a;}
td span.status.exbu {background-color:#dec188;}

span.legende { padding-left:20px;}
span.legende span.title { font-style:italic;}
span.legende span.status { margin:0px 3px;}
/*---------------- End of Table ------------*/

#quickup {background:#906C4A;cursor: pointer;width:30px;height:30px;border-radius: 50%;line-height:30px; text-align:center;}
	#quickup:hover { background-color:#716558;}

td.actions_button { display:flex;justify-content: center;}
	td.actions_button .btn-icon {margin:0px 3px;} 
.dataTables_length label{ color:#906C4A!important; line-height:30px;}
	.dataTables_length select { height:24px; border:1px solid 1px solid rgba(0, 0, 0, 0.1); width:60px; margin-bottom:12px;}
.dataTables_filter label{color:#906C4A!important; line-height:30px;}
	.dataTables_filter input { height:24px; border:1px solid 1px solid rgba(0, 0, 0, 0.1); margin-bottom:12px; width:180px;}
.dataTables_info { color:#906C4A!important; line-height:22px;}
.dataTables_wrapper .dataTables_paginate { position:relative; right:-1px; top:4px;}
.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing: border-box;display: inline-block;min-width: 1.5em;padding: 6px 12px;margin-left: -1px;text-align: center;text-decoration: none !important;cursor: pointer;
*cursor: hand;background-color: #fff;color: #969c9c;border: 1px solid #e5e6e6;}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover { background-color:#906C4A; color:#FFF!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current { font-weight:bold; color:#fff!important; background:#716558; font-weight:bold;}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled { color:rgba(0, 0, 0, 0.3)!important; cursor:not-allowed; background:none;}

.TypeContenu .block-body{ height:345px;}
.TypeContenu .block-body.small { height:200px;}
	td.pdf_element {}
	td.pdf_color_selected { text-align:center; width:30px;}
		span.colors_pdf { display:inline-block; width:20px; border:1px solid #CCC; height:20px; background-color:#FFF; position:relative; top:4px;}
	td.pdf_color_selector { width:90px; text-align:center;}
		select.frm_select_colors {border:1px solid #CCC; padding:2px 6px; position:relative; top:-1px;}
	td.sep { border-right:4px solid rgba(0, 0, 0, 0.1)!important;}
input.colorPick, input.colorPickEntreprise { width:150px; border:1px solid #000; padding:0px 10px; text-align:center;cursor:pointer; color:#FFF; font-weight:bold;}

/*start of calendar*/
.calendar_wrap {padding-bottom:20px; width:100%;margin:0px auto;}
	.calendar_legend { width:10%; margin-left:2%; padding-top:12px;}
		.calendar_legend h4{ font-size:16px; font-weight:normal; padding-bottom:5px; border-bottom:1px solid rgba(0, 0, 0, 0.1); margin-bottom:10px;}
	#calendar { width:88%;}
.calendar_nav { margin:0px auto; width:100%;}
.calendar_nav { margin-bottom:20px; /*margin-top:20px;*/ height:30px;line-height:30px;}
	.calendar_nav .btn { padding:0px 15px; height:30px;line-height:28px; border-radius:0px;}
	.calendar_nav .btn.btn-info {background-color:#BD9C7D; border-color:#BD9C7D;}
		.calendar_nav .btn.btn-info:hover {background-color:#716558; border-color:#716558;}
	.calendar_nav .MonthName { font-size:30px;text-align:center; line-height:30px;}
	.CalendarViews .btn.active {background-color:#cf7e06; border-color:#cf7e06;}
.cal-row-head [class*="cal-cell"]:first-child, .cal-row-head [class*="cal-cell"] {padding: 10px 0!important;}
.cal-day-weekend span[data-cal-date] { color:#F00!important;}
.cal-day-weekend {background-color:rgba(200, 34, 34, 0.1);}/*weekends*/
#cal-slide-content { box-shadow:none!important; background-image:none; background-color:#CCC!important;}
.event { width:20px!important; height:20px!important; border:none!important; border-radius:0px!important;}
.event-item.event-info { background-color:transparent!important;}
.event.event-LinkedIn1 { background:url(../images/ui/icons/bg/calendar-linkedin.png) no-repeat center center;}
.event.event-LinkedIn2 { background:url(../images/ui/icons/bg/calendar-linkedin-2.png) no-repeat center center;}
.event.event-CVAden { background:url(../images/ui/icons/bg/calendar-cvaden.png) no-repeat center center;}
.event.event-RDVP { background:url(../images/ui/icons/bg/calendar-rdvp.png) no-repeat center center;}
.cal-week-box .triggerEvent, .cal-week-box .yours { padding-left: 30px!important;}
.cal-week-box .dh-event-LinkedIn1 {background-image:url(../images/ui/icons/bg/calendar-linkedin.png); background-repeat: no-repeat; background-position: 5px center;}
.cal-week-box .dh-event-LinkedIn2 {background-image:url(../images/ui/icons/bg/calendar-linkedin-2.png); background-repeat: no-repeat; background-position: 5px center;}
.cal-week-box .dh-event-CVAden { background-image:url(../images/ui/icons/bg/calendar-cvaden.png); background-repeat: no-repeat; background-position: 5px center;}
.cal-week-box .dh-event-RDVP { background-image:url(../images/ui/icons/bg/calendar-rdvp.png); background-repeat: no-repeat; background-position: 5px center;}
#cal-day-box .cal-hours { padding-left:22px;}
#cal-day-box .dh-event-LinkedIn1 {background-image:url(../images/ui/icons/bg/calendar-linkedin.png); background-repeat: no-repeat; background-position: 5px 5px;}
#cal-day-box .dh-event-LinkedIn2 {background-image:url(../images/ui/icons/bg/calendar-linkedin-2.png); background-repeat: no-repeat; background-position: 5px 5px;}
#cal-day-box .dh-event-CVAden { background-image:url(../images/ui/icons/bg/calendar-cvaden.png); background-repeat: no-repeat; background-position: 5px 5px;}
#cal-day-box .dh-event-RDVP { background-image:url(../images/ui/icons/bg/calendar-rdvp.png); background-repeat: no-repeat; background-position: 5px 5px;}
.day-highlight span{ padding-right:8px; display:inline-block;}
.day-highlight a { color:#000;}

.mine, .day-highlight a.mine {font-weight:bold!important; color:#7cbd5a!important;}

.cal-week-box .cal-row-fluid.cal-row-head {border-bottom:1px solid #CCC;}
.cal-week-box [data-event-class] {margin-top:0px!important; margin-bottom:0px!important;}
span[data-cal-date] {margin-right:0px!important;}
.cal-month-box span[data-cal-date] { margin-right:15px!important;}
a.event-item, a.cal-event-week { color:#906C4A!important;}
/*#cal-day-box .day-event { max-width: 800px!important;}*/
ul.event_legend { margin-bottom:20px;}
ul.event_legend li { margin-bottom:5px; line-height:20px; padding-left:30px;}
	ul.event_legend li span.glyphicon-info-sign { color:#2196f3;}
	ul.event_legend li.linkedIn1 { background:url(../images/ui/icons/bg/calendar-linkedin.png) no-repeat top left;}
	ul.event_legend li.linkedIn2 {background:url(../images/ui/icons/bg/calendar-linkedin-2.png) no-repeat top left;}
	ul.event_legend li.cvaden {background:url(../images/ui/icons/bg/calendar-cvaden.png) no-repeat top left;}
	ul.event_legend li.rdvp {background:url(../images/ui/icons/bg/calendar-rdvp.png) no-repeat top left;}
	ul.event_legend li span.time { font-weight:bold; color:#7cbd5a;}
	
	/*on dashboard*/
	td span.type { display:inline-block; width:20px; height:20px; position:relative; top:5px;}
	td span.type.linkedIn1 { background:url(../images/ui/icons/bg/calendar-linkedin.png) no-repeat;}
	td span.type.linkedIn2 { background:url(../images/ui/icons/bg/calendar-linkedin-2.png) no-repeat;}
	td span.type.cvaden { background:url(../images/ui/icons/bg/calendar-cvaden.png) no-repeat;}
	td span.type.rdvp { background:url(../images/ui/icons/bg/calendar-rdvp.png) no-repeat;}
/*end of calendar*/
.no_search_results { width:20%; margin:0px auto; text-align:center; margin-bottom:20px;}
@media (max-width: 700px) {.no_search_results { width:80%;}}
	.no_search_results i.os-icon { font-size:150px; color:#d1d1d1;}
	.no_search_results p { font-size:14px;}
/*tasks*/
.tasks .row .col-12 {min-width:450px;}
.tasks_wrapper {}
	.tasks_wrapper .task-list-row{ height:34px; line-height:34px; border-bottom:1px solid rgba(0, 0, 0, 0.1); padding:0px 12px;}
	/*.tasks_wrapper .task-list-row.completed { border-bottom:1px solid #4AE2C4;}*/
	.tasks_wrapper .task-list-row:hover { background-color:rgba(144, 108, 74, 0.1);}
		.tasks_wrapper .task-list-row .task-check { width:20px; height:20px; margin-top:7px; background: #fff;border: 1px solid #b7bfc6;border-radius: 50%;cursor:pointer; float:left;}
		.tasks_wrapper .task-list-row.completed .task-check {background: #b2ebe1;border-color: #b2ebe1;}
			.tasks_wrapper .task-list-row .task-check svg:not(:root) {overflow: hidden;}
			.tasks_wrapper .task-list-row .task-check svg { width:12px; height:12px;color: #848f99;fill: #848f99; position:relative; top:-6px; left:3px;}
			.tasks_wrapper .task-list-row.completed .task-check svg {fill: #fff;}
		.tasks_wrapper .task-list-row .task-check:hover { border-color:#4AE2C4; background:#4AE2C4;}
		.tasks_wrapper .task-list-row.completed .task-check:hover {background: #b2ebe1;border-color: #b2ebe1;}
			.tasks_wrapper .task-list-row .task-check:hover svg {color: #fff;fill: #fff;}
			.tasks_wrapper .task-list-row.completed .task-check:hover svg {color: #848f99;fill: #fff;}
		.tasks_wrapper .task-list-row .task-title { float:left; cursor:pointer; padding:0px 12px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
			.tasks_wrapper .task-list-row .task-title span.glyphicon-eye-open { cursor:pointer; color:#7cbd5a; padding-left:5px;}
			.tasks_wrapper .task-list-row .task-title span.glyphicon-eye-open:hover, .tasks_wrapper .task-list-row .task-title:hover span.glyphicon-eye-open {color:#2196f3;}
		.tasks_wrapper .task-list-row .task-creator { float:right; font-size:12px; font-style:italic; color:rgba(0, 0, 0, 0.5);}
			.tasks_wrapper .task-list-row .task-creator .fa-archive, .tasks_wrapper .task-list-row .task-creator .glyphicon-trash, .task-list-row .task-creator .glyphicon-edit, span.glyphicon-trash { padding-left:5px; cursor:pointer;}
			.tasks_wrapper .task-list-row .task-creator .fa-archive:hover { color:#666;}
			.tasks_wrapper .task-list-row .task-creator .glyphicon-trash:hover, span.glyphicon-trash:hover { color:#dd4b39;}
			.tasks_wrapper .task-list-row .task-creator .glyphicon-edit:hover { color:#2196f3;}
			.tasks_wrapper .task-list-row .task-creator .fa-archive:hover { color:#ff9800;}
		.tasks_wrapper .task-list-row.completed .task-title, .tasks_wrapper .task-list-row.completed .task-creator { color:rgba(0, 0, 0, 0.3);}
.taskView { /*display:none;*/}
	.taskView .task-check { width:30px; height:30px;background: #fff;border: 1px solid #b7bfc6;border-radius: 50%;cursor:pointer; float:left; margin-right:10px; margin-top:5px;}
	.taskView .task-check.completed {background: #b2ebe1;border-color: #b2ebe1;}
		.taskView .task-check svg:not(:root) {overflow: hidden;}
		.taskView .task-check svg { width:18px; height:18px;color: #848f99;fill: #848f99; position:relative; top:-1px; left:5px;}
		.taskView .task-check.completed svg {fill: #fff;}
		.taskView .task-check:hover { border-color:#4AE2C4; background:#4AE2C4;}
		.taskView .task-check.completed:hover {background: #b2ebe1;border-color: #b2ebe1;}
			.taskView .task-check:hover svg {color:#fff; fill:#fff;}
	.taskView span.title { font-weight:bold; display:inline-block; vertical-align:middle; float:left;}
	.taskView .close_task { cursor:pointer; line-height:40px;}
	.task-main {padding-left:20px; border-left:3px solid #4AE2C4;border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom:10px;}
		.task-main p, .task-thread p{ line-height:18px; margin-bottom:10px;}
		.task-main .publish-info, .task-thread .publish-info { display:block; font-size:12px; font-style:italic; color:rgba(0, 0, 0, 0.5); text-align:right; line-height:15px;}
	.task-threads-wrap { margin-left:20px; margin-top:20px;}
		.task-thread {padding-left:20px; border-left:3px solid #2196f3; margin-bottom:20px;border-bottom: 1px solid #2196f3; padding-bottom:10px;}
		.task-thread:nth-child(odd) {}
		.task-thread:nth-child(even) { margin-left:20px; border-left:3px solid #ff9800;border-bottom: 1px solid #ff9800;}
.task-screen { float:left; width:50%;}
	.task-screen .row { margin-left:0px;}
		.task-screen .row .col { padding-left:0px;}
.task-row { float:left; width:50%;}
.task-screen fieldset .frm_textarea { width:100%;}
#frm_add_task_thread { display:none;}
/*notifyjs*/
.notifyjs-corner .fa { padding-right:5px; color:#000;}
/*end tasks*/
/*add candidat*/
#base.AddCandidat { min-height:600px;}
#base.AddCandidat fieldset label { width:40%;}
#base.AddCandidat fieldset label.long { width:150px;}
#base.AddCandidat fieldset .frm_text{ width:60%;}
#base.AddCandidat fieldset .chosen-container { width:60%!important;}
#base.AddCandidat fieldset .chosen-container-multi { width:60%!important;}
#base.AddCandidat fieldset .frm_textarea { width:60%; height:92px;}
#base.AddCandidat fieldset.full .frm_textarea { width:100%; height:200px;}
#base.AddCandidat .icheckbox_square-blue { top:-2px;}
.add_field_row { width:100%;}
#base.AddCandidat fieldset .add_field_row .frm_text { width:100%;}
.add_field_row { margin-bottom:10px;}
#base.AddCandidat fieldset label.fileUpload { width:90%; text-align:left; padding-left:10px; padding-right:10px; line-height:32px;border:1px solid #E1E1E1; outline:none;}
#base.AddCandidat fieldset label.fileUpload.error { border-color:#dd4b39;}
#base.AddCandidat fieldset label.fileUpload.ok { border-color:#008d4c;}
.row.edit_candidat_nano .nano { height:300px;}
.row.edit_candidat_nano .task-threads-wrap { margin-left:10px; margin-top:10px; padding-right:15px;}
		.row.edit_candidat_nano .task-thread {padding-left:10px; margin-bottom:10px;border-bottom: 1px solid #2196f3; padding-bottom:10px;}
		.row.edit_candidat_nano .task-thread:nth-child(odd) {}
		.row.edit_candidat_nano .task-thread:nth-child(even) { margin-left:10px;}
.historiques_comment_wrap .publish-info .glyphicon, .historiques_motivation_wrap .publish-info .glyphicon { cursor:pointer; padding-left:5px;}
.historiques_comment_wrap .publish-info .glyphicon-edit:hover, .historiques_motivation_wrap .publish-info .glyphicon-edit:hover { color:#2196f3;}
ul.links_candidat li { line-height:20px;}
ul.links_candidat li span.glyphicon { color:rgba(0, 0, 0, 0.5);}
ul.links_candidat li span.glyphicon.delete_link:hover, ul.links_candidat li span.glyphicon.delete_document:hover { color:#dd4b39;}
img.pdf-candidate-selector { cursor: pointer; padding: 10px;}
/*add mission / edit missions / missions*/
#base.AddMission fieldset.range .frm_text.xsmall, #base.AddMission fieldset.single-row .frm_text.xsmall { width:28%;}
#base.AddMission fieldset.range span.interval, #base.AddMission fieldset.single-row span.interval { width:4%;}
p.note {  margin-bottom:5px; }
	p.note span.note {font-style:italic;color:#7cbd5a;}
.sortable-list { width:100%; border:1px solid rgba(0, 0, 0, 0.33); height:235px;}
	.sortable-list ul.sortable li { cursor:move;  border-bottom:1px solid #eee;}
	.sortable-list ul.sortable li.dragged {background-color:#2196f3;color:#FFF;}
	.sortable-list ul.sortable li.placeholder {background-color:#7cbd5a;}
	.sortable-list ul.sortable li:hover { background-color:#BD9C7D; color:#FFF;}
	.sort-wrapping { position:relative;line-height:18px; padding:4px 10px;}
		span.sortable-actions { width:20%;}
		 .sortable-list ul.sortable li span.glyphicon{ color:rgba(0, 0, 0, 0.5); cursor:pointer; padding-left:5px;line-height:18px;}
		 .sortable-list ul.sortable li span.glyphicon-trash:hover { color:#FF0000;}
		 .sortable-list ul.sortable li span.glyphicon-edit:hover { color:#00CCFF;}
		 .sortable-list ul.sortable li span.glyphicon-ok, .sortable-list ul.sortable li span.glyphicon-remove { display:none;}
		 .sortable-list ul.sortable li span.glyphicon-ok:hover {color:#00FF00;}
		 .sortable-list ul.sortable li span.glyphicon-remove:hover {color:#FF0000;}
			.frm_text.sortable_text {width:70%!important; padding:2px 6px!important; position:absolute; top:1px; left:5px; font-size:12px; height:24px;visibility:hidden;}			
.handleDrag { width:10px;height:10px; color:#F00; }
a.link_to_tdc { cursor: pointer; font-size: 16px; color: #000;}
a.link_to_tdc:hover { color: #009900;}
table.missionList .assigned_users { font-size:16px; cursor:pointer;}
table.missionList tr.mine-mission.en_cours td:first-child{ border-left:5px solid #7cbd5a;}
table.missionList tr.mine-mission.stopped td:first-child{ border-left:5px solid #dd4b39;}
table.missionList tr.mine-mission.placement td:first-child{ border-left:5px solid #2196f3;}
table.missionList tr.mine-mission.cloture td:first-child{ border-left:5px solid #ff9800;}
/*tdc*/
/*body.tdc table.fixedHeader-floating th { background-color:#7cbd5a!important; color:#FFF;}*/
/*body.tdc table.fixedHeader-floating { display:none!important;}*/
#tdc_summary {/*position:fixed; top:60px; left:0px; z-index:1005;*/ width:100%;min-width:1440px;}
body.tdc .row .col-12 { width:100%; min-width:1440px;}
	.row.tdc_summary_wrapper { margin-bottom:0px; position:relative;}
		.row.tdc_summary_wrapper span.triggerSummary { position:absolute; left:50%; top:25px; cursor:pointer; width:20px; height:15px; z-index:1100; text-align:center;color:rgba(0, 0, 0, 0.5); display:none;}
		.row.tdc_summary_wrapper span.triggerSummary.active { display:block;}
			.row.tdc_summary_wrapper span.triggerSummary:hover {background-color:rgba(0, 0, 0, 0.1);}
		.row .col .block .block-body.hide { display:none;}
			.block-body.tdc .box { padding:0px 5px;}
			.tdc-files-wrap { width:40%;}
			.tdc-stats-wrap { width:60%;}
				.block-body.tdc .box .box-inner {border:1px solid rgba(0, 0, 0, 0.1); height:120px; width:100%;}
					.box-inner-icon {background-color:rgba(0, 0, 0, 0.1); width:7%;  height:100%;text-align:center; position:relative;}
					.tdc-files-wrap .box-inner-icon { width:7%;}
						.box-inner-icon i { font-size:35px;color:rgba(0, 0, 0, 0.5); position:absolute; top:40px; left:0px; width:100%;}
						.tdc-files-wrap .box-inner-icon i { width:100%; left:0px;}
					.box-inner-content {padding:10px; width:80%;}
					.tdc-files-wrap .box-inner-content { padding:0px; width:93%;}
					.tdc-stats-wrap .box-inner-content {padding:0px; width:93%;}
						.tdc-files-wrap .files-list { width:100%; padding:10px; height:80px; border-bottom:1px solid rgba(0, 0, 0, 0.1);}
						.tdc-files-wrap .add-files { clear:both; padding:0px 10px; height:37px; width:100%;}
							.tdc-files-wrap .add-files form { width:100%; padding:0px 10px;}
							.tdc-files-wrap .add-files fieldset { margin:0px; padding:6px 10px 0px;}
							.tdc-files-wrap .add-files .uploadMultiple { width:80%}
								.tdc-files-wrap .add-files .uploadMultiple label { line-height:25px;}
								.tdc-files-wrap .add-files .uploadMultiple label.fileUpload { width:90%; height:27px; overflow:hidden; text-align:left; padding-left:10px; padding-right:10px; line-height:25px;border:1px solid #E1E1E1; outline:none;}
								.tdc-files-wrap .add-files .uploadMultiple label.fileUpload.error { border-color:#dd4b39;}
								.tdc-files-wrap .add-files .uploadMultiple label.fileUpload.ok { border-color:#008d4c;}
								.tdc-files-wrap .add-files .uploadMultiple button.clear_field_upload { margin-left:5px;}
							.tdc-files-wrap .add-files fieldset.submit { width:20%;}
							.tdc-files-wrap .add-files fieldset.submit .btn{ padding:4px 10px;width:100%;}
								.tdc-files-wrap .add-files fieldset.submit .btn .glyphicon { font-size:10px;}
								.tdc-files-wrap .add-files .inputfile + label { white-space: normal;}
						@media (max-width: 1600px) {
							.tdc-files-wrap .add-files .uploadMultiple { width:70%}
							.tdc-files-wrap .add-files fieldset.submit { width:30%;}
								.tdc-files-wrap .add-files .uploadMultiple label.fileUpload { width:80%;}	
								.add_field_wrap_documents { width:60%!important;}
						}
						@media (max-width: 1350px) {
							.add_field_wrap_documents { width:60%!important;}
							.box-inner-icon i { font-size:30px;}
						}
						@media (max-width: 1100px) {
							.box-inner-icon i { font-size:20px;}
						}
						
						.tdc-stats-wrap .stats-wrapper{ border-bottom:1px solid  rgba(0, 0, 0, 0.1); width:100%;}
							.tdc-stats-wrap .stats-wrapper .col-stats { height:80px; padding:10px; width:33.33333%; border-right:1px solid  rgba(0, 0, 0, 0.1);}
							.tdc-stats-wrap .stats-wrapper .col-stats:last-child{ border-right:none;}
								.tdc-stats-wrap .stats-wrapper .col-stats ul li { line-height:15px;}
                                .tdc-stats-wrap .stats-wrapper .col-stats ul li.indented { padding-left: 20px;}
						.tdc-stats-wrap .stats-filter{ clear:both; padding:0px 10px; height:37px; width:100%;}
							.tdc-stats-wrap .stats-filter form { width:100%;}
								.tdc-stats-wrap .stats-filter fieldset { margin:0px; padding:6px 10px 0px; width:19%;}
									.tdc-stats-wrap .stats-filter fieldset input.frm_text { height:25px; width:100%;}
									.tdc-stats-wrap .stats-filter fieldset .btn{ padding:4px 10px;width:100%;}
										.tdc-stats-wrap .stats-filter fieldset .btn .glyphicon { font-size:10px;}
						.stats-filter .frm_horizontal fieldset .chosen-container { width: 100%!important;}
						.stats-filter .frm_horizontal fieldset .chosen-container-single .chosen-single { height:25px; line-height:25px;}
						.stats-filter .chosen-container-single .chosen-single div b { background-position:0px 3px;}
span.remove-colors { color:#dd4b39; cursor:pointer;}
span.remove-colors:hover { color:#c23321;}

#base.TDC {/* margin-top:215px;*/ position:relative; top:-23px;}
.clickable { cursor:pointer;}
.tick { box-sizing:content-box; width:20px; height:20px; cursor:pointer; background-color:#C4BDB5;}
.tick:hover { width:16px; height:16px; border:2px solid #7cbd5a;background-color:#fff;}
.tick.active { background:#7cbd5a url(../images/ui/icons/bg/tick.png); width:20px; height:20px; border:none;}
.brush { cursor:pointer; width:25px; height:25px; background:url(../images/ui/icons/bg/brush-black.png) no-repeat center center; }
td .brush:hover {background:#906C4A url(../images/ui/icons/bg/brush-white.png) no-repeat center center;border-radius:50%;}
th .brush:hover {background:#7cbd5a url(../images/ui/icons/bg/brush-white.png) no-repeat center center;border-radius:50%;}
.fixedHeader-floating th .brush:hover { background-color:#906C4A;}
.colorSelector { width:20px;height:20px; border:1px solid rgba(0, 0, 0, 0.1); cursor:pointer; margin:4px; float:left; text-indent:-9999px;}
.colorSelector.nopointer { cursor:default;}
.colorSelector:hover {border:1px solid rgba(0, 0, 0, 0.6);}
.colorSelector.nopointer:hover {border:1px solid rgba(0, 0, 0, 0.1);}
.modal-v2 h5 { font-size:16px; margin-bottom:10px;}
span.color_candidat_label, span.color_societe_label { font-weight:bold;}
.TDC td.actions_button { display:table-cell;}
#suivis_modal fieldset label { width:50%;}
#suivis_modal fieldset input.frm_text { width:50%;}
#suivis_modal .icheckbox_square-blue { margin-top:7px;}
#suivis_modal fieldset .chosen-container { width: 50%!important;}
/*debug*/
#debug { background:#FFF; border:3px solid #F00; width:100%; clear:both; position:fixed; bottom:0px; z-index:100; max-height:400px; overflow:scroll;}
#debug:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	#debug .os-icon { position:absolute; left:10px; top:3px; cursor:pointer; padding:4px; color:#fff;}
	#debug h1 { font-size:14px; font-weight:normal; border-bottom:1px solid #CCC; margin-bottom:5px; padding-bottom:5px;}
	#debug div.dump { margin-bottom:10px;}
	#debug .debug-head { background-color:#000;padding-left:40px; height:30px;}
	#debug .debug-head h1 { color:#fff;cursor:pointer; border:none; margin:0px; padding:0px; line-height:30px;}
	.debug-body { display:none;padding:10px; background:#FFF;}
/*tooltip content*/
/*.tdc_suivis_tooltip_wrap { background-color:#906C4A; position:absolute; top:0px; left:-560px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}*/
.tdc_suivis_tooltip_wrap { }
	.tdc_suivis_tooltip_wrap h2 { color:#FFF; font-size:14px;}
	.tdc_suivis_tooltip_wrap table { width:100%; background-color:#FFF;}
	.tdc_suivis_tooltip_wrap table td {border-bottom:1px solid rgba(0, 0, 0, 0.1);}
	.tdc_suivis_tooltip_wrap table td.suivi_statut { line-height:16px;}
.comment_tdc_histo {display:none; background-color:#906C4A; position:absolute; top:0px; left:-580px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
	.comment_tdc_histo h2 { color:#FFF; font-size:14px;}
	.comment_tdc_histo .historiques_comment_wrap { background-color:#FFF; padding:5px;}
		.comment_tdc_histo .task-threads-wrap { margin:0px;}
.tdc_candidat_comment_hover {display:none; background-color:#906C4A; position:absolute; top:-300px; left:-500px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
    .tdc_candidat_comment_hover h2 {color:#FFF; font-size:14px;}
    .tdc_candidat_comment_hover .nano { height: 300px; background-color: #fff;}
        .tdc_candidat_comment_hover .historiques_comment_wrap { padding-right: 30px;}
.tdc_cv_display {display:none; background-color:#906C4A; position:absolute; top:0px; left:120px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
    .tdc_cv_display h2 { color:#FFF; font-size:14px;}
/*    .tdc_cv_display .tdc_cv_wrapper { background-color: #fff; padding: 10px;}*/
.tdc_cv_fourni:hover { color: #fff;}
/*evolutions 2020*/
fieldset.client-checkbox .icheckbox_square-blue { top: 6px;}
span.tdc_cv_fourni { cursor: pointer;}

/*filter tdc by legende colors*/
#base.TDC .block-head span.legende { float: left;}
.filter_by_colors_legende { float: left; margin-left: 20px;}
    .filter_by_colors_legende span.title { font-style: italic; margin-right: 10px;}
    .filter_by_colors_legende span.sub-title {font-weight: bold;}
    .filter_by_colors_legende span.filter_color {cursor: pointer;text-align: center;padding: 5px;color:#FFF; margin-left: 10px;border: 2px solid #fff;border-radius: 3px;}
    .filter_by_colors_legende span.filter_color:hover, .filter_by_colors_legende span.filter_color.selected { border: 2px solid #906C4A;}
    .filter_by_colors_legende span.filter_color_submit {cursor: pointer;text-align: center;padding: 5px 10px;color:#FFF; margin-left: 15px;border-radius: 3px; background-color: #7cbd5a; font-weight: bold; margin-left: 15px;}
        .filter_by_colors_legende span.filter_color_submit:hover {background-color: #486e34;}
        
span.refresh-watchdog-candidat { cursor: pointer; padding-left: 20px; color: #7cbd5a;}
    span.refresh-watchdog-candidat:hover { color: #008d4c;}

/*KPI Clients*/
.kpi_clients table.table-list table.table-list, .kpi_manager table.table-list table.table-list, .kpi_cdr table.table-list table.table-list{ margin:10px 0px;}
.kpi_clients .frm_horizontal fieldset .chosen-container, .kpi_manager .frm_horizontal fieldset .chosen-container, .kpi_cdr .frm_horizontal fieldset .chosen-container{ width: 325px!important;}
.kpi_cdr .frm_horizontal fieldset #mission_id_chosen.chosen-container{ width: 450px!important;}
.kpi_cdr p { margin-bottom: 10px;}
span.note { color: #2196f3;}
tr.total { border-top: 2px solid #000;border-bottom: 2px solid #000;}
tr.total_down {border-bottom: 2px solid #000;}
.hide {display: none;}
.kpi_filters .frm_horizontal fieldset .chosen-container{ width: 120px!important;}
.kpi_filters { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 12px;}
.kpi_filters fieldset { margin-bottom: 0px;}
#action_code_chosen, .audit #user_id_chosen { width: 300px!important;}
.kpi-val { font-size: 16px; text-align: center; margin: 10px;color: #906C4A; font-weight: bold;}
.kpi_manager_results p { margin: 0px 0px 10px 0px;}

/*custom square radio button*/
.labf3-radio-square-wrapper {}
    .labf3-radio-square { cursor: pointer; float: left; margin-right: 20px;}
        .labf3-radio-square span.ticks { display: inline-block; width: 22px; height: 22px; border: 1px solid #bd9c7d; line-height: 36px; position: relative; top: 5px;}
            .labf3-radio-square span.ticks:hover {border: 2px solid #bd9c7d;}
            .labf3-radio-square span.active {border: 2px solid #bd9c7d; background:#bd9c7d url(../images/ui/icons/bg/tick-white.png) no-repeat;}
        .labf3-radio-square span.libele { display: inline-block; color: #fff; padding-left: 5px; line-height: 36px; color: #313534;}
        
/*entrerpises*/
.entreprises .frm_horizontal fieldset .frm_text { width: 200px;}
.tdc_sep { width: 100%; height: 20px; margin-top: 20px; border-top: 1px solid rgba(0, 0, 0, 0.1);}

/*add cv/file of candidate from tdc*/
span.add-cv-from-tdc, span.add-doc-entreprise-from-tdc { padding-left: 5px; cursor: pointer;}
    span.add-cv-from-tdc:hover, span.add-doc-entreprise-from-tdc:hover { color: #7cbd5a;}
#add-candidat-from-tdc fieldset label.fileUpload { width: 90%;text-align: left;padding-left: 10px;padding-right: 10px;line-height: 32px;border: 1px solid #E1E1E1;outline: none;}
#add-candidat-from-tdc fieldset label.fileUpload.ok {border-color: #008d4c;}
#add-candidat-from-tdc fieldset label.fileUpload.error {border-color: #dd4b39;}

.tdc_doc_display {display:none; background-color:#906C4A; position:absolute; top:0px; left:120px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
    .tdc_doc_display h2 { color:#FFF; font-size:14px;}
    .tdc_doc_display .tdc_doc_wrapper { background-color: #fff; padding: 10px;}
.tdc_doc_fourni { cursor: pointer;}
.tdc_doc_fourni:hover { color: #fff;}

.comment_tdc_histo_ent {display:none; background-color:#906C4A; position:absolute; top:-200px; right:250px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
    .comment_tdc_histo_ent h2 { color:#FFF; font-size:14px;}
    .comment_tdc_histo_ent .historiques_comment_wrap { background-color:#FFF; padding:5px;}
        .comment_tdc_histo_ent .task-threads-wrap { margin:0px;}

.tdc_entreprise_comment_hover {display:none; background-color:#906C4A; position:absolute; top:-300px; right:250px; width:600px; padding:5px; border:1px solid #CCC; z-index:400;}
    .tdc_entreprise_comment_hover h2 {color:#FFF; font-size:14px;}
    .tdc_entreprise_comment_hover .nano { height: 300px; background-color: #fff;}
        .tdc_entreprise_comment_hover .historiques_comment_wrap { padding-right: 30px;}
        
h3.kpi_h3 { margin-bottom: 10px;}
.kpi_manager .row .col .block .block-head header span, .kpi_cdr .row .col .block .block-head header span, .kpi_clients .row .col .block .block-head header span{ font-size: 14px; color: #906C4A; font-weight: bold;}
.kpi-val-sep { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.tooltipster-content ul li a { color: #fff; cursor: pointer;}
    .tooltipster-content ul li a:hover { font-weight: bold;}
    
/*sticky header in table.table-list */
/*https://codepen.io/aardrian/pen/vMpayz*/
    table.table-list.sticky-table-header {}
    /* Fixed Headers */
    table.table-list.sticky-table-header th {position: -webkit-sticky;position: sticky;top: 0; z-index: 2;background-color: #666; color: #fff;border-right: 1px solid #fff;}
    table.table-list.sticky-table-header th[scope=row] {position: -webkit-sticky; position: sticky;left: 0;z-index: 1;}
    table.table-list.sticky-table-header th[scope=row] {vertical-align: top;color: inherit;background-color: inherit;background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);}
    table.table-list.sticky-table-header:nth-of-type(2) th:not([scope=row]):first-child {left: 0;z-index: 3;background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);}
    /* Strictly for making the scrolling happen. */
    /*th[scope=row] + td { min-width: 24em;}
    th[scope=row] {min-width: 20em;}
    body {padding-bottom: 90vh;}*/
/*end sticky header*/
.kpi_clients .ui-widget.ui-widget-content, .kpi_manager .ui-widget.ui-widget-content, .kpi_cdr .ui-widget.ui-widget-content {z-index: 3!important;}
.sticky-table-header span.glyphicon-info-sign { cursor: pointer; color: #2196f3; padding-left: 5px;}
    .sticky-table-header span.glyphicon-info-sign:hover { color: #fff;}
table.table-list.sticky-table-header table.inner-table { width: 100%;}
table.table-list.sticky-table-header table.inner-table th { position: static;background-color: #906C4A; line-height: 16px;}
table.table-list.sticky-table-header table.inner-table tr:last-child td{ border-bottom: none;}
table.inner-table a.link_to_tdc { font-size: 12px;}
/*SL change on tdc suivi lightview*/
.changeSL { display: inline-block; padding-left: 10px; line-height: 24px; position: relative; top: 4px;}
    a.changeSLTrigger {height: 24px; padding: 0px 2px; margin-left: 5px;}
/*stickylegende in tdc*/
.tdc-sticky-legende-wrapper { display: none; position: fixed; top: 66px;z-index:1300;background-color: #ffffff;color: #313534;border-radius: 2px;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); margin: 0px 24px; width: calc(100% - 48px);}
    .tdc-sticky-legende-wrapper .sticky-legende {position: relative;line-height: 40px;min-height: 40px;padding: 0px 12px;vertical-align: middle; width: 100%;}
        .tdc-sticky-legende-wrapper .sticky-legende span.legende { float: left;}
        
/*start of back office client evolutions*/
.btn-lg { width: 100%; border-radius: 3px;}
.login a { color:#4b575f; font-style:italic; font-size:11px; cursor:pointer;text-shadow:0px 1px 0px #fff; display: inline-block; text-align: right; float: right; padding: 0.35em 0.75em 10px;}
    .login a:hover { text-decoration:underline;}
.login i.fas.togglePassword {position: absolute;display: block;width: 34px;height: 34px;line-height: 34px;text-align: center;pointer-events: none;color: #777;font-size: 15px;cursor: pointer; right: 35px; color: #7cbd5a;pointer-events: auto;z-index: 100;} 
    .login i.fas.togglePassword:hover, .login i.fas.togglePassword.active { color: #339af0;}
.login .fa-envelope{position: absolute;top: 4px;right:12px;z-index: 2;display: block;width: 34px;height: 34px;line-height: 34px;text-align: center;pointer-events: none; color:#777; font-size:15px;}
/*add user client*/
.client_missions_select fieldset.largemultiselect label {display: block;width: 100%;padding-right: 0px;}
a.mission-list { display: block; line-height: 20px;}
    a.mission-list:hover { color: #008d4c;}
li.username.my-profile { cursor: pointer;}
h1 span.client { color: #3c8dbc;}
.tdc-files-wrap .files-list.tdc-client { height: 120px; border-bottom: none;}
.tdc-files-wrap .box-inner-content h4 { font-size: 14px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 6px;}
.tick.tdc_ccc.client { cursor: default;}
    .tick.tdc_ccc.client:hover {background-color: #C4BDB5; border: 2px solid #C4BDB5;}
    .tick.tdc_ccc.client.active:hover {background-color:#7cbd5a; border: none;}
#frm_tdc_client_comment { border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 15px; margin-bottom: 15px;}
/*end of back office client evolutions*/
/*kpi clients modif 2021-02-01*/
fieldset.mission-checkbox .icheckbox_square-blue { top: 6px !important;}
#filter_out_categories {  margin-left: 15px;width: 250px!important; height: 24px;}
    
.block-head.tdc-client-legende {}
    .block-head.tdc-client-legende span.legende span.status { padding: 5px; font-weight: bold; word-break:normal;}
    span.legende_text {font-style: italic; font-weight: normal;}
    
/*TDC POP UP LIKE CHAT BOX*/
.chat_box {width: 600px;min-width: 600px;-webkit-box-sizing: border-box;box-sizing: border-box;bottom: 0px; right: 23px;position: fixed;border-radius: 2px 2px 0 0;border: 1px solid #e1dfdd;-webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.1);box-shadow: 0 0 16px 0 rgba(0,0,0,.1);max-height: none; background-color: #fff; z-index: 2000; border-bottom: 5px solid #7cbd5a; }
    .chat_box .chat_header {box-sizing: border-box; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 5px 10px; border-top: 5px solid #7cbd5a; position: relative;}
        .chat_box .chat_header span{ line-height: 16px;}
        .chat_box .chat_header span.name { display: block; font-weight: bold;}
        .chat_box .chat_header span.chat_title { font-weight: bold; color:#BD9C7D;}
        .chat_box .chat_header .close {position: absolute;top: 0px;right: 8px;float: none;z-index: 999;color: #999;opacity: 1;padding: 0;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;text-shadow: 0 1px 0 #fff;font-size: 30px;font-weight: 500;line-height: 1;}
            .chat_box .chat_header .close:hover {color:#333;}
    .chat_box .chat_messages_history { height: 300px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
        .chat_box .chat_messages_history .nano-content { padding: 10px;}
    .chat_box .chat_messages_history .nano > .nano-pane > .nano-slider {background: #906C4A;}
        .chat_box .chat_messages_history table { border-top: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 12px;}
            .chat_box .chat_messages_history table tr:nth-child(odd) { background-color:#f9f9f9;}
                .chat_box .chat_messages_history table tbody td {line-height:16px;}
                
.AddEntreprise fieldset label.fileUpload {width: 90%;text-align: left;padding-left: 10px;padding-right: 10px;line-height: 32px;border: 1px solid #E1E1E1;outline: none;}

table.dataTable tbody tr.ajaxRowL { background-color: #2196f3;}
span.see_child_companies { color: #2196f3; cursor: pointer;}