table td {padding: 5px 15px;}
/*------ permissions page--------*/
.sticky { visibility:hidden;position:fixed; top:64px; z-index:200;}
.permissions_wrapper { width:100%;}
	.permissions_lists_wrapper { float:left;}
	.permissions_roles_wrapper { float:left;  overflow:hidden;}
		.permissions_roles_wrapper table { float:left;}
.permissions_wrapper table { border:1px solid #CCC;}
.permissions_lists_wrapper table { border-right:2px solid #CCC; /*width:200px;*/}
	.permissions_wrapper table td { line-height:20px; height:20px;border-bottom:1px solid #CCC;}
		.permissions_wrapper table td.heading { background-color:#906C4A; color:#FFF; font-weight:bold;}
		.permissions_wrapper table tr.subheading, .permissions_wrapper table td.selectAllPerm { background-color:#BD9C7D; color:#333;}
		.permissions_wrapper table td.category { border-right:1px solid #CCC;}
		.permissions_wrapper table td.category_title { background-color:#716558; font-weight:bold; color:#fff; }
			.permissions_wrapper table td.category_title i, .permissions_wrapper table td.category_title span { display:inline-block; padding-right:10px;}
		.permissions_roles_wrapper table {border-left:none;}
		.permissions_roles_wrapper table td{/*width:100px;*/}
		.permissions_roles_wrapper table td.heading { text-align:center;}
		.permissions_roles_wrapper table td.heading { padding:5px 20px;}
		td.perm_lists { border:none;}
		td.perm_lists table{ border:none; width:100%; color:#000; font-weight:bold;}
			td.perm_lists table tr:last-child td { border-bottom:none;}
			td.perm_lists table tr:first-child td { border-top:none;}
			td.perm_lists table tr:nth-child(even) td, .permissions_roles_wrapper table tr.even td{ background-color:#dddede;}
			td.perm_lists table tr:nth-child(odd) td, .permissions_roles_wrapper table tr.odd td { background-color:#fff;}
			td.perm_lists span { font-style:italic; color:#666; font-weight:normal; display:inline-block; padding-left:15px;}
			span.glyphicon-trash:hover { color:#FF0000;}
/*start custom form styling*/		
.tick { box-sizing:content-box; width:20px; height:20px; cursor:pointer; background-color:#C4BDB5;}
.tick:hover { width:16px; height:16px; border:2px solid #906C4A;}
.tick.active { background:#906C4A url(../images/ui/icons/bg/tick.png); width:20px; height:20px; border:none;}
.tick.selectAll:hover {border:2px solid #486e34;width:16px; height:16px;} 
.tick.selectAll.active { background-color:#7cbd5a;width:20px; height:20px; border:none;}
.tick.selectCat:hover {border:2px solid #BD9C7D;width:16px; height:16px;}
.tick.selectCat.active { background-color:#BD9C7D;width:20px; height:20px; border:none;}
.trigger { margin-left:20px; width:20px; height:20px; cursor:pointer; background:url(../images/ui/icons/bg/open-close.png) no-repeat; float:right;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
	.trigger:hover {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
/*end custom form styling*/
/*---------------- end of permissions page --------------*/

