<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a data-event-class="<%= event['class'] %>"
					class="pull-left event month_view tooltips <%= event['class'] %>" data-event-id="<%= event.id %>" title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>
